<h1>Welcome to the Message Board</h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>
      Only members of the club can leave messages. The rest of you can see
      the titles and previews of the messages, but you won't know who wrote them. 
      Go ahead and click on the 'Messages' link above to preview the messages.
    </p>
    <p>
      If you have the desire to pretend to be a club member, click the '<b>Log in</b>' link 
      above and use the following credentials:  
    </p>
    <p>
      Email: <b>guest@wise.guy
    </b></p>
    <p>
      Password: <b>notamember
    </b></p>
    <br>
    <p>(Using the guest credentials, you aren't really a member, so you can't leave a message. However, a clever person could hack into a Member's account...)</p>
  </div>
</div>
